*.user
*.suo
*.opensdf
*.sdf
*.xcuserdatad
*.DS_Store
/ipch
/x64
*.idb
/Debug
Release
*.orig
*.tlog
Debug
*.gray
*.yuv
*.rgb
*.ipch
*.opendb
*.db
*.iws
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml
workspace.xml
local.properties
.gradle
gradle
gradlew
gradlew.bat
build
gen
out
.externalNativeBuild
My Amplifier XE Results*
