*.user
*.suo
*.opensdf
*.sdf
/ipch
/x64
/My Amplifier XE Results - CompV
*.idb
/Debug
/tests/math/Debug
/tests/math/x64
/tests/parallel/x64
/tests/image/x64
/tests/image/i420.yuv
Release
/tests/image/Debug
*.orig
/tests/image/My Advisor XE Results - image
/tests/image/My Amplifier XE Results - image/My Amplifier XE Results - image.amplxeproj
/tests/image/My Amplifier XE Results - image/r000hs
/tests/image/My Amplifier XE Results - image/r001hs
/tests/image/My Amplifier XE Results - image
/tests/image/My Inspector XE Results - image
